body {
    background: #F8F8FA;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.primary-bg {
    background: #6A1BC6;
}

.dashboard-summary {
    height: 60vh;
    border-bottom-right-radius: 120px;
}

.invest-assets {
    height: 66vh;
}

.title-label {
    font-size: 10px;
}

.dashboard-title {
    border-bottom: 1px solid rgb(113, 50, 185);
}

.explore-stats {
    top: -20px;
}

.rounded-semi-xl {
    border-radius: 18px;
}

.rounded-xl {
    border-radius: 24px;
}


/* toggle button styles */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 14px;
    border: 1px solid;
}

.level {
    left: 50%;
    transform: translateX(-50%);
}


/* Hide default HTML checkbox */
.red input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.red {
    margin-top: -20px;
}

.red label {
    cursor: pointer;
    text-indent: -9999px;
    width: 30px;
    height: 18px;
    top: -3px;
    background: #ffe4e7;
    display: block;
    border-radius: 100px;
    position: relative;
}

.red label:after {
    content: '';
    position: absolute;
    top: -1px;
    left: 15px;
    width: 20px;
    height: 20px;
    background: #ff6b7c;
    border-radius: 90px;
    transition: 0.3s;
}

.red input:checked+label {
    background: #eee9e9;
}

.red input:checked+label:after {
    left: calc(100% - 15px);
    transform: translateX(-100%);
    background: #aca7a7;
}